.ns-next-move,
.ns-next-enter-active,
.ns-next-leave-active,
.ns-previous-move,
.ns-previous-enter-active,
.ns-previous-leave-active {
    transition: all 0.5s ease-in-out;
    z-index: 1;

}

.ns-previous-leave-active,
.ns-next-leave-active {
    position: absolute;
}

/*.ns-previous-enter-from,*/
/*.ns-previous-leave-to,*/
/*.ns-next-enter-from,*/
/*.ns-next-leave-to*/

.ns-next-enter-from {
    transform: translateX(200%) scaleY(.6) !important;
}

.ns-previous-enter-from {
    transform: translateX(0%) scaleY(1) !important;
}
.ns-previous-leave-to{
    transform:  translateX(calc(200%)) scaleY(.6) !important;
}
.ns-next-leave-to {
    display: none;
}
