.ps-next-move,
.ps-next-enter-active,
.ps-next-leave-active,
.ps-previous-move,
.ps-previous-enter-active,
.ps-previous-leave-active {
  transition: all 0.5s ease-in-out;
}

.ps-previous-leave-active,
.ps-next-leave-active {
  position: absolute !important;
}

.ps-previous-enter-from,
.ps-previous-leave-to,
.ps-next-enter-from,
.ps-next-leave-to {

}
.ps-previous-enter-from{
  transform: translateX(-200%) scaleY(.6) !important;
}
.ps-previous-leave-to {
  transform: translateX(0) scaleY(1 ) !important;
}
.ps-next-leave-to{
  transform: translateX(-200%) scaleY(.6) !important;
}
.ps-next-enter-from{
  transform: translateX(0) scaleY(1) !important;
}
.ps-next-enter-to {
  transform: translateX(calc(-100% - 1em)) scaleY(.8) !important;
}
